@import '../../styles/var';
@import '../../styles/mixins';

swiper-container {
    position: relative;
    max-width: 768px;
    margin: auto;
    background: $primary-color-txt;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	padding: 25px;
	border-radius: 25px;
	height: 400px;
	transition: all 0.3s;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
swiper-slide {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.about-slider-content{
    justify-content: center;
    align-items:center;
}
.about-slider__img {
    width: 300px;
}
// .about-slider__img {
//     position: absolute;
//     width: 300px;
//     flex-shrink: 0;
//     height: 300px;
//     box-shadow: 4px 13px 30px 1px $primary-color-light;
//     border-radius: 20px;
//     transform: translateX(-80px);
//     overflow: hidden
// }
// .about-slider__img img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     display: block;
//     opacity: 0;
//     border-radius: 20px;
//     transition: all 0.3s;
// }
// .about-slider 
// 	width: 768px;
// 	position: relative
// 	max-width: 800px
// 	margin: auto
// 	background: $primary-color-txt
// 	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2)
// 	padding: 25px
// 	border-radius: 25px
// 	height: 400px
// 	transition: all 0.3s
// 	display: flex
// 	justify-content: space-between
// 	align-items: center
// 	&__item 
// 		display: flex 
// 		flex-direction: row
// 		justify-content: center
// 		align-items: center
// 		flex-wrap: nowrap
// 		&.swiper-slide-active .about-slider__img img 
// 			opacity: 1
// 			transition-delay: 0.3s
		
// 		&.swiper-slide-active .about-slider__content > * 
// 			opacity: 1
// 			transform: none
// 			&:nth-child(1) 
// 				transition-delay: 0.3s
			
// 			&:nth-child(2) 
// 				transition-delay: 0.4s
			
// 			&:nth-child(3) 
// 				transition-delay: 0.5s
			
// 			&:nth-child(4) 
// 				transition-delay: 0.6s
// 	&__img 
// 		width: 300px
// 		flex-shrink: 0
// 		height: 300px
// 		box-shadow: 4px 13px 30px 1px $primary-color-light
// 		border-radius: 20px
// 		transform: translateX(-80px)
// 		overflow: hidden
// 		img 
// 			width: 100%
// 			height: 100%
// 			object-fit: cover
// 			display: block
// 			opacity: 0
// 			border-radius: 20px
// 			transition: all 0.3s
// 	&__content 
// 		padding-right: 25px
// 		display: flex
// 		flex-direction: column
// 		align-items: center
// 		width: 500px
// 		> * 
// 			opacity: 0
// 			transform: translateY(25px)
// 			transition: all 0.4s
// 	&__text 
// 		color: #4e4a67
// 		margin-bottom: 30px
// 		line-height: 1.5em
// 	&__button 
// 		display: inline-flex
// 		width: 150px
// 		background-image: linear-gradient(147deg, $primary-color-light 0%, $primary-color 74%)
// 		padding: 15px 35px
// 		border-radius: 50px
// 		color: $primary-color-txt
// 		box-shadow: 0px 14px 80px $primary-color-light
// 		text-decoration: none
// 		font-weight: 500
// 		justify-content: center
// 		text-align: center
// 		letter-spacing: 1px
// 		&:hover
// 			background-color: $primary-color-dark
// 	.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction 
// 		bottom: 10px
// 		left: 0
// 		width: 100%
// 	&-pagination 
// 		width: 100px 
// 		text-align: center
// 		transform: translateY(-50%)
// 		&.swiper-pagination-bullets .swiper-pagination-bullet 
// 			margin: 8px 0
// 		.swiper-pagination-bullet 
// 			width: 11px
// 			height: 11px
// 			display: block
// 			border-radius: 10px
// 			background: $primary-color-light
// 			opacity: 0.2
// 			transition: all 0.3s
// 			&-active 
// 				opacity: 1
// 				background: $primary-color
// 				height: 30px
// 				box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3)
// @media (max-width: 1200px)
// 	.about-slider 
// 		max-width: 600px
// 		&__img 
// 			width: 250px
// 			height: 250px
// @media (max-width: 992px)	
// 		.about-slider 
// 			width: 100%
// @media (max-width: 768px)	
// 	.about-slider 
// 		max-width: 500px
// 		height: 600px
// 		&__img 
// 			width: 300px
// 			height: 300px
// 		&__item
// 			display: flex 
// 			flex-direction: column
// 			justify-content: space-between
// 			align-items: flex-end
// 			flex-wrap: nowrap
// 		&__content
// 			padding-right: 0px
// 			width: 100%
// 			display: flex 
// 			flex-direction: column
// 			justify-content: center
// 			align-items: center
// 			flex-wrap: nowrap
// @media (max-width: 576px)	
// 	.about-slider 
// 		max-width: 300px
// 		height: 480px
// 		&__img 
// 			width: 150px
// 			height: 150px
// 		&__item
// 			display: flex 
// 			flex-direction: column
// 			justify-content: space-between
// 			align-items: flex-end
// 			flex-wrap: nowrap
// 		&__content
// 			padding-right: 0px
// 			width: 100%
// 			display: flex 
// 			flex-direction: column
// 			justify-content: center
// 			align-items: center
// 			flex-wrap: nowrap