.container{
    margin: 0 auto;
    width: 1440px;
}
.flex-r{
    display: flex;
    flex-direction: row;
}
.flex-c{
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;

}
button{
    border: none;
}