@import '../../styles/var.scss';
@import '../../styles/mixins.scss';

.container{
    margin: 0 auto;
    max-width: 1440px;
}
.flex-r{
    display: flex;
    flex-direction: row;
}
.flex-c{
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;

}
button{
    border: none;
}
a,
a:focus,
a:hover,
a:active{
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}
.title-block{
    width: 80%;
    margin-bottom: 1em;
    border-bottom: 2px solid;
    @include text(3em, normal, 600, $primary-color);
    text-transform:  capitalize;
}