@import '../../styles/var.scss';

.app-header{
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    &-content{
        position: relative;
        z-index: 999;
    }
}
.bgc-header{
    position: absolute;
    z-index: 0;
    top: 0;
    height: 80px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    &_light{
        height: 100%;
        width: 35%;
        background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 7%, rgb(120, 7, 11) 94%);
        background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 7%, rgb(120, 7, 11) 94%);
        background: linear-gradient(90deg, rgb(255, 255, 255) 7%, rgb(120, 7, 11) 94%);
    }
    &_dark{
        height: 100%;
        width: 65%;
        background-color: $primary-color;
    }
}
.app-logo{
    position: absolute;
    z-index: 999;
}
.app-presentation{
    position: relative;
    z-index: 999;
    justify-content: start;
    align-items: flex-end;
}
.app-nav{
    height: 80px;
    justify-content: space-between;
    align-items: center;
}